@import url('posts.css');
@import url('forms.css');
@import url('label.css');
@import url('navbar.css');
@import url('calendar.css');
@import url('labelPage.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
  color: red;
  border-radius: 16px;
}

.link {
  text-decoration: none;
}

.loading-background {
  background-image: url('../../public/images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  height: 50vh;
  width: auto;
  margin: 0 auto;
}
