@import url('posts.css');
@import url('forms.css');
@import url('label.css');
@import url('navbar.css');
@import url('calendar.css');
@import url('labelPage.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight {
  color: red;
  border-radius: 16px;
}

.link {
  text-decoration: none;
}
