.navbar-custom {
  background-color: #343a40;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.navbar-custom .nav-link {
  color: #ffffff;
  margin-right: 10px;
  transition: color 0.3s;
}

.navbar-custom .nav-link:hover {
  color: rgba(188, 186, 186, 0.892);
}

.navbar-custom .active {
  font-weight: bold;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-title-cursive {
  font-family: Dancing Script, cursive;
}

.nav-link:focus {
  color: white !important;
}
