.fixed-scroll {
  top: 290px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 90%;
}

.post-form-foreground {
  background-color: rgb(251 243 243);
  width: 80%;
  z-index: 2;
  position: absolute;
}

.post-form-foreground:focus-within{
  box-shadow: 1px 3px 6px 1px #80808066;
}
